@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Quicksand:wght@300..700&display=swap');

body

{
	background-color:#E6E6E6;
	color:#043872;	
	font-family:"Quicksand",Gotham,"Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin:0
	}
.font-subtitle
 {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal; 
}
h1{font-size: 40px;
background: tomato;
	background: linear-gradient(red,yellow);
	-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h2{font-size: 36px}
h3{font-size: 30px}
h4{font-size: 24px}
h5{font-size: 20px}
h6{font-size: 18px}

h1,h2,h3,h4,h5,h6{margin-bottom: 0;margin-top: 0}
a{color:deepblue;
text-decoration:none;
font-weight:700
}
a:hover
{
	color:#181E49
}
	 


/*-----layout bố cục web-------*/
.container-fluid
{
width: 100%; padding-left: 16px; padding-right: 16px;
}
@media (min-width:600px)
{.container
{
width: 95%; margin: auto;
}
}
@media (min-width:1000px)
{.container
 {
 width: 80%; margin: auto;
 }
}
/*chia hệ thống lưới thành 12 cột*/
.col-1{width:8.3333%}
.col-2{width:16.6666%}
.col-3{width:25%}
.col-4{width:33.33%}
.col-5{width:41.66%}
.col-6{width:50%}
.col-7{width:58.33%}
.col-8{width:66.66%}
.col-9{width:75%}
.col-10{width:83.33%}
.col-11{width:91.66%}
.col-12{width:100%}
[class*="col-"]
{
	padding: 15px;
	border: 1px solid pink;
}
*{ box-sizing: border-box}
.img-100{width: 100%}
.row
{
	display: flex;
		lex-wrap:wrap; 
		
}
.card
{
	background:white;
	border-radius: 10px;/*bo goc*/
	overflow:hidden
		
}
.card-body

{padding: 16px}

footer
{
background:#DBDBDB
	
}
/*icon va text*/
.info-box{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	text-aligh:center;
	height: 200px;/*tuy theo thiet ke*/
}
.info-box img{
	max-height: 100px;
	max-width: 100px;
}
/*style mau chu*/
.text-primary{color:crimson}/*mau chu chinh*/
.text-secondary{color:dodgerblue}/*mau chu phu*/
.text-light{color:#FEFFEA}
.text-dark{color:#3F0102}
/*style mau nen*/
.bg-primary{color:crimson}
.bg-secondary{color:dodgerblue}
.bg-light {color:#FEFFEA}
.bg-dark {color:#3F0102}
.btn-primary
{
	background-color: #FFE04A;
	color: white;
	padding:8px 16px;
	border-radius:4px;
}
.btn-primary:hover{
	background-color: crimson;
		color:white;	
}
.btn-outline-priamry
{
	broder: 1px crimson solid;
	color:crimson;
	padding:8px 16px;
	border-radius:4px;
	margin:2px;
}
btn-outline-primary:hover
{
	background-color:crimson;
	color: white
}

/*style cho menu chỉ dùng đc cho pc*/
ul.menu
{display: flex;
padding: 0;
list-style: none;
justify-content: space-around;}

ul.menu li a
{
padding: 8px 16px;
background-color:#FFE04A ;
color: aliceblue;
margin: 2px;	
}
ul.menu li a:hover
{
background-color:white;
border-bottom: 2px solid #AF2B2D;
color: pink;	
}
.banner{
	position: relative
}
.banner-caption{
	padding:20px;
	width:40%;
	/*border:1px soild blue;*/
	postion:absolute;
	right:10%;top:20%

}
